<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120870439501-qta54olj6vmn7kb6lcb30r21tijf6n8b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120870439501-qta54olj6vmn7kb6lcb30r21tijf6n8b</string>
	<key>API_KEY</key>
	<string>AIzaSyDG6WRYpw3BYasbygzoGwaDrvJxROEjYgY</string>
	<key>GCM_SENDER_ID</key>
	<string>120870439501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nitsuga.dev.PaymentApp</string>
	<key>PROJECT_ID</key>
	<string>paymentapp-db8f6</string>
	<key>STORAGE_BUCKET</key>
	<string>paymentapp-db8f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120870439501:ios:ad3ed5c74979813d662a04</string>
	<key>DATABASE_URL</key>
	<string>https://paymentapp-db8f6.firebaseio.com</string>
</dict>
</plist>